<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-user"></span>
	empleados
</h2>


<div class="page-body">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-success">
				<div class="panel-heading">Datos empleado</div>
				<div class="panel-body">

							<table class="table">
								<tbody>
																			<tr>
										<td>
											<%= image_tag @employee.avatar.url(:medium) %>
										</td>
										</tr>
																			<tr>
										  <th>Cod Trabajador:</th>
										  <td><%= @employee.worker_id %></td>
										</tr>
																		<tr>
										  <th>Tipo de contrato:</th>
										  <td><%= @employee.contract_type %></td>
										</tr>
													<tr>
										  <th>Horas semanales:</th>
										  <td><%= @employee.weekly_hours %></td>
										</tr>
																			<tr>
										  <th>Run:</th>
										  <td><%= @employee.run %></td>
										</tr>
																			<tr>
										  <th>Nombres:</th>
										  <td><%= @employee.names %></td>
										</tr>
																			<tr>
										  <th>Apellidos:</th>
										  <td><%= @employee.lastnames %></td>
										</tr>
																			<tr>
										  <th>Email:</th>
										  <td><%= @employee.email %></td>
										</tr>
																			<tr>
										  <th>Dirección:</th>
										  <td><%= @employee.addres %></td>
										</tr>
																			<tr>
										  <th>Fecha nacimiento:</th>
										  <td><%= @employee.birthdate %></td>
										</tr>
																	</tbody>
							</table>
						


<%= link_to 'Editar', edit_employee_path(@employee), :class => "btn btn-default" %>
<%= link_to 'Destruir', @employee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Volver', employees_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Registros asistenciales</div>
				<div class="panel-body">

				</div>
			</div>
		</div>

	</div>
	
</div>
