<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-user"></span>
	empleados
</h2>


<div class="page-body">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-success">
				<div class="panel-heading">Datos empleado</div>
				<div class="panel-body">

							<table class="table">
								<tbody>
																			<tr>
										<td>
											<%= image_tag @employee.avatar.url(:medium) %>
										</td>
										</tr>
																			<tr>
										  <th>Cod Trabajador:</th>
										  <td><%= @employee.worker_id %></td>
										</tr>
																		<tr>
										  <th>Tipo de contrato:</th>
										  <td><%= @employee.contract_type %></td>
										</tr>
													<tr>
										  <th>Horas semanales:</th>
										  <td><%= @employee.weekly_hours %></td>
										</tr>
																			<tr>
										  <th>Run:</th>
										  <td><%= @employee.run %></td>
										</tr>
																			<tr>
										  <th>Nombres:</th>
										  <td><%= @employee.names %></td>
										</tr>
																			<tr>
										  <th>Apellidos:</th>
										  <td><%= @employee.lastnames %></td>
										</tr>
																			<tr>
										  <th>Email:</th>
										  <td><%= @employee.email %></td>
										</tr>
																			<tr>
										  <th>Dirección:</th>
										  <td><%= @employee.addres %></td>
										</tr>
																			<tr>
										  <th>Fecha nacimiento:</th>
										  <td><%= @employee.birthdate %></td>
										</tr>
																	</tbody>
							</table>
						


<%= link_to 'Editar', edit_employee_path(@employee), :class => "btn btn-default" %>
<%= link_to 'Destruir', @employee, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Volver', employees_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Smart-Devices</div>
				<div class="panel-body">
					<div class="table-responsive">
						<div class="page-buttons clearfix">
						  <%= link_to 'Nuevo dispositivo', new_employee_device_path(@employee), :class => "btn btn-primary float-left" %>
						</div>
				        <table class="table table-hover">
				          <thead>
				            <tr>
								<th>Imei</th>
	                            <th></th>              
				            </tr>
				          </thead>

				          <tbody>
				            <% @employee.devices.each do |device| %>
				              	<tr>
                                	<td><%= device.imei %></td>
                               		<td>
		                                <!-- 	<= link_to '', employee_device_path(@employee, device), :class => "glyphicon glyphicon-eye-open" %> -->
		                                <button type="button" class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target=".bs-example-modal-sm"> </button>
	                                </td>


<!-- Modal para el detalle del smart-device -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Detalle del dispositivo inteligente</h4>
      	</div>
		<div class="panel panel-success">
			<div class="panel-body">				
  
				<b>Meid:</b> <%= device.meid %>	<br />
				<b>Esn:</b> <%= device.esn %>	<br />
				<b>Imei:</b> <%= device.imei %>	<br />
				<b>Wlanmacaddress:</b> <%= device.wlanMacAddress %>	<br />
			</div>
		</div>

    </div>
  </div>
</div>
				                <!-- <td><= link_to 'Edit', edit_device_path(device) %></td>
				                <td><= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
				              </tr>
				            <% end %>
				          </tbody>
				        </table>

				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">Registros asistenciales</div>
					<div class="panel-body">

					</div>
				</div>
			</div>
		</div> <!-- row -->


		
	</div>
	
</div>
