<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-hdd"></span>
	Aparatos inteligentes
</h2>


<div class="page-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle device</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tbody>
																			<tr>
										  <th>Meid:</th>
										  <td><%= @device.meid %></td>
										</tr>
																			<tr>
										  <th>Esn:</th>
										  <td><%= @device.esn %></td>
										</tr>
																			<tr>
										  <th>Imei:</th>
										  <td><%= @device.imei %></td>
										</tr>
																			<tr>
										  <th>Wlanmacaddress:</th>
										  <td><%= @device.wlanMacAddress %></td>
										</tr>
																			<tr>
											<th>Employee:</th>
											<td><%= @device.employee.run %></td>
										</tr>
																	</tbody>
							</table>
						</div>

					</div>

<%= link_to 'Editar', edit_employee_device_path(@employee, @device), :class => "btn btn-default" %>
<%= link_to 'Destruir', [@employee, @employee.devices.build], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Volver', employee_devices_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
	
</div>
