
<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-list"></span>
  Resumen asistencia
</h2>

<div class="page-buttons clearfix">
 <!--  <= link_to 'Nuevo resumen asistencial', new_summary_attendance_path, :class => "btn btn-primary float-left" %> -->
  <%= link_to 'Generar resumenes', generating_summaries_path, :class => "btn btn-primary float-left" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
                              <th>Attendace date</th>
                              <!-- <th>Check in at</th>
                              <th>Check out at</th> -->
                              <th>Worked hours</th>
                              <th>Contracted hours</th>
                              <th>Difference</th>
                              <!-- <th>Delay</th> -->
                              <!-- <th>Permission</th>
                              <th>Medical licence</th> -->
                              <th>Employee</th>
                              <!-- <th>Branch office</th> -->
                            <th></th>              
            </tr>
          </thead>

          <tbody>
            <% @summary_attendances.each do |summary_attendance| %>
              <tr>
                                    <td><%= summary_attendance.attendace_date %></td>
                                    <!-- <td><= summary_attendance.check_in_at %></td>
                                    <td><= summary_attendance.check_out_at %></td> -->
                                    <td><%= summary_attendance.worked_hours %></td>
                                    <td><%= summary_attendance.contracted_hours %></td>
                                    <td><%= summary_attendance.difference %></td>
                                    <!-- <td><= summary_attendance.delay %></td>
                                    <td><= summary_attendance.permission %></td>
                                    <td><= summary_attendance.medical_licence %></td> -->
                                    <td><%= summary_attendance.employee.run %></td>
                                    <!-- <td><= summary_attendance.branch_office.name %></td> -->
                                <td><%= link_to '', summary_attendance, :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
                <!-- <td><= link_to 'Edit', edit_summary_attendance_path(summary_attendance) %></td>
                <td><= link_to 'Destroy', summary_attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<br>
