
<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-align-left"></span>
  contacts
</h2>

<div class="page-buttons clearfix">
  <%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary float-left" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
                              <th>Run</th>
                              <th>Names</th>
                              <th>Lastnames</th>
                              <th>Email</th>
                              <th>Birthdate</th>
                            <th></th>              
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                                    <td><%= contact.run %></td>
                                    <td><%= contact.names %></td>
                                    <td><%= contact.lastnames %></td>
                                    <td><%= contact.email %></td>
                                    <td><%= contact.birthdate %></td>
                                <td><%= link_to 'Detail', contact %></td>
                <!-- <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
                <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<br>
