<% if notice -%>
<p id="notice"><%= notice %></p>
<% end -%>

<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-align-left"></span>
	contacts
</h2>


<div class="page-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle contact</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tbody>
																			<tr>
										  <th>Run:</th>
										  <td><%= @contact.run %></td>
										</tr>
																			<tr>
										  <th>Names:</th>
										  <td><%= @contact.names %></td>
										</tr>
																			<tr>
										  <th>Lastnames:</th>
										  <td><%= @contact.lastnames %></td>
										</tr>
																			<tr>
										  <th>Email:</th>
										  <td><%= @contact.email %></td>
										</tr>
																			<tr>
										  <th>Birthdate:</th>
										  <td><%= @contact.birthdate %></td>
										</tr>
																	</tbody>
							</table>
						</div>

					</div>

<%= link_to 'Editar', edit_contact_path(@contact), :class => "btn btn-default" %>
<%= link_to 'Destruir', @contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Volver', contacts_path, :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
	
</div>
