<div id="wrapper" class="layout-empty">
		
		
<div class="header clearfix">
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
		<!-- <img src="/img/cronerBlanco-02.png" class="img-responsive" alt="" width="30%"> -->
	</center>
</div>

<div class="row body-inset">
	<div class="col-sm-4 col-sm-offset-4">
		
		<div class="panel panel-default panel-green">
			<div class="panel-heading text-center">Inicio de sesión</div>
			<div class="panel-body">

				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				
				<div class="form-group text-center">
					<%= f.label :email %>
					<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
				</div>
				<div class="form-group text-center">
					<%= f.label :password %>
					<%= f.password_field :password, :class => "form-control" %>
				</div>
				<% if devise_mapping.rememberable? -%>
					<div class="text-center">
						<%= f.check_box :remember_me %> <%= f.label 'Recordarme?' %>
					</div>
				<% end -%>

				<div class="text-center">
					<%= f.submit "Ingresar", :class => "btn btn-success" %>
				</div>
				<% end %>
				
				<hr>

			</div>
		</div>

	</div>
</div>


		<div id="footer-ghost"></div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<center>
						<img src="/img/youser-06.png" class="img-responsive" alt="" width="15%">
				    </center>
					<div class="col-md-12 text-center">
						<a href="#" class="btn btn-link">Youser SpA, 2014</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>








	



	
