
<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-align-left"></span>
  attendances
</h2>

<div class="page-buttons clearfix">
  <%= link_to 'New Attendance', new_employee_attendance_path, :class => "btn btn-primary float-left" %>
</div>

<div class="page-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
                              <th>Enento</th>
                              <th>Latitud</th>
                              <th>Longitud</th>
                              <th>Fecha y hora de marcado</th>
                              <!-- <th>Employee</th> -->
                            <th></th>              
            </tr>
          </thead>

          <tbody>
            <% @employee.attendances.order("marked_at desc").each do |attendance| %>
              <tr>
                                    <td><%= attendance.event %></td>
                                    <td><%= attendance.latitude %></td>
                                    <td><%= attendance.longitude %></td>
                                    <td><%= attendance.marked_at %></td>
                                    <!-- <td><%= attendance.employee.run %></td> -->
                                <td><%= link_to '', employee_attendance_path(@employee, attendance), :class => "btn btn-default glyphicon glyphicon-eye-open" %></td>
                <!-- <td><= link_to 'Edit', edit_attendance_path(attendance) %></td>
                <td><= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<br>
