<h2 class="page-title page-title-green">
	<span class="glyphicon glyphicon-align-left"></span>
	asistencia
</h2>
<br />
<ol class="breadcrumb">
  <li><%= link_to "Empleado", employee_path(@employee) %></li>
  <li class="active">Asistencia <b><%= @attendance.marked_at %></b></li>
</ol>

<div class="page-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Detalle asistencia</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tbody>
																			<tr>
										  <th>Event:</th>
										  <td><%= @attendance.event %></td>
										</tr>
																			<tr>
										  <th>Location:</th>
										  <td><%= @attendance.location %></td>
										</tr>
																			<tr>
										  <th>Marked at:</th>
										  <td><%= @attendance.marked_at %></td>
										</tr>
											<!-- 								<tr>
											<th>Employee:</th>
											<td><= @attendance.employee.name %></td>
										</tr> -->
																	</tbody>
							</table>
						</div>

					</div>

<%= link_to 'Editar', edit_employee_attendance_path(@employee, @attendance), :class => "btn btn-default" %>
<%= link_to 'Destruir', [@employee, @employee.attendances.build], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<%= link_to 'Volver', employee_attendances_path(@employee), :class => "btn btn-link" %>

				</div>
			</div>
		</div>
	</div>
	
</div>
